#!include:.gitignore
.git
.gcloudignore
node_modules/

.angular/
dist/
tmp/
.vscode/
.idea/
pocketgull_flutter/
contests/
models/
trained_models/
*.onnx
*.safetensors
*.pt
*.pth
*.pkl
*.h5
*.hdf5
*.joblib
physio*/
physionet*/
*physio*model*
*physionet*model*
physio_models/
physionet_models/
trained_physio_models/
*.edf
*.mat
*.dat
*.hea
*.atr
*.rec


